@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-container{
    background-color: rgb(244, 244, 197);
}   

.navbar{
    overflow: hidden;
}

.navbar a{
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
}

.navbar a:hover{
    background-color: #383838;
    color: white;
}

.nav-float-right{
    float: right;
}
