@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-container{
    background-color: rgb(244, 244, 197);
}   

.navbar{
    overflow: hidden;
}

.navbar a{
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
}

.navbar a:hover{
    background-color: #383838;
    color: white;
}

.nav-float-right{
    float: right;
}

.post{
    display: flex;
    flex-direction: column;
    width: 50%;

    background-color: rgba(96, 96, 0, 0.21);
    border-radius: 20px;

    padding: 20px;
    margin: 10px;
}

.home-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-container h1{
    font-size: xx-large;
    margin: 30px;
}

.user-banner img{
    border-radius: 100%;
    width: 50px;
}

.post-img{
    align-self: center;
    width: 50%;
}

.user-banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #00000012;
    padding: 10px;
    border-radius: 10px;
}

.user-banner a{
    background-color: #0000000e;
    padding: 5px;
    border-radius: 10px;
}

.user-table{
    border-width: 2px;
    border-color: #000000;
}

.user-row{
    border-width: 1px;
    border-color: #000000
}

.user-row td{
    text-align: center;
    border-width: 1px;
    border-color: #000000;
    padding: 5px;
}

.admin-button{
    background-color:  rgb(188, 116, 39);
    color: white;
}

.user-table-container{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 5%;
}

.comment-form{
    background-color: rgba(255, 255, 255, 0.31);
    border-radius: 10px;
    border-color: #000000;
    border-width: 1px;
    margin: 10px;
    padding: 10px;
}

.comment-form input{
    width: 100%;
}

.comment-form button{
    width: 100%;
    background-color: rgba(56, 0, 0, 0.248);
    border-radius: 10px;
    border-color: #000000;
    border-width: 1px;
    margin-top: 10px;
    padding: 10px;
}

.comment{
    background-color: rgba(255, 255, 255, 0.31);
    border-radius: 10px;
    border-color: #000000;
    border-width: 1px;
    margin: 10px;
    padding: 10px;
}

.contact-container{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 5%;
}

.contact-form{
    display: flex;
    flex-direction: column;
}

.contact-item{
    display: flex;
    flex-direction: column;
    border-width: 1px;
    border-color: #000000;
    padding: 5px;
}

.contact-item h1{
    font-weight: bold;
}

.admin-container{
    display: flex;
    flex-direction: row;
}

.faq-container{
    display: flex;
    flex-direction: row;
}

.question{
    background-color: rgba(96, 96, 0, 0.21);
    margin: 15px;
    padding: 15px;
    border-radius: 10px;
}

.dashboard-banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #00000012;
    padding: 10px;
    border-radius: 10px;
    width: 50%;
}

.dashboard-banner img{
    width: 100px;
}

.dashboard-banner h2{
    font-weight: bold;
}

.news-form{
    display: flex;
    flex-direction: column  ;
    background-color: rgba(0, 110, 18, 0.303);
    border-radius: 10px;
    border-color: #000000;
    border-width: 1px;
    margin: 10px;
    padding: 10px;
    width: 50%;
}

.post-form{
    display: flex;
    flex-direction: column  ;
    background-color: rgba(0, 110, 18, 0.303);
    border-radius: 10px;
    border-color: #000000;
    border-width: 1px;
    margin: 10px;
    padding: 10px;
    width: 50%;
}

.news-container{
    display: flex;
    flex-direction: column;
    align-items: center;


    width: 100%;
}

.news-container h1{
    font-size: xx-large;
    margin: 30px;
}

.news-container button{
    background-color: rgba(255, 255, 255, 0.505);
    margin: 5px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
}

.edit-profile{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 110, 18, 0.303);
    border-radius: 10px;
    border-color: #000000;
    border-width: 1px;
    margin: 10px;
    padding: 10px;
    align-items: center;
    width: 50%;
}

.edit-profile button{
    background-color: beige;
    margin: 5px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
}

.edit-item{
    display: flex;
    flex-direction: column;
}

.vote-container{
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.589);
    padding: 15px;
    margin: 10px;
    width: fit-content;
    border-radius: 20px;
    text-align: center;
}

.vote-form-up{
    background-color: rgb(126, 255, 126);
    border-radius: 100%;
}

.vote-form-down{
    background-color: rgb(255, 125, 125);
    border-radius: 100%;
}